.Signup .container {
  width: 80%;
  margin: 10rem auto;
  background: #f1f1f1;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438),
    -2px -3px 5px rgba(0, 0, 0, 0.363);
}

.Signup h1 {
  font-weight: 300;
  font-size: 2.4em;
  text-align: center;
  text-transform: uppercase;
}

.Signup label {
  display: block;
  font-size: 1.5em;
  margin: 0.5rem;
}

.Signup input {
  padding: 1rem;
  margin: 0.5rem;
  border: none;
  width: 95%;
  border-bottom: 1px solid rgb(150, 12, 115);
  background: transparent;
}

.Signup button {
    width: 90%;
    margin: 15px auto;
    display: block;
}
